@page
@model Database01.Pages.DeleteItemModel

@{
    ViewData["Title"] = "DeleteItem";
}
<h3>Opravdu chcete smazat tuto vydru?</h3>
<div>
    <hr />
    <dl class="row">
        <div class="col-sm-2 odsaz">
            <dt>Jméno</dt>
            <dt>Barva</dt>
            <dt>Matka</dt>
            <dt>Místo</dt>
            <dt>Nálezce</dt>
        </div>
        <div class="col-sm-10">
            <dd>@Model.Otter.Name</dd>
            <dd>@Model.Otter.Color</dd>
            <dd>@(Model.Otter.Mother?.Name ?? "Neznámá")</dd>
            <dd>@Model.Otter.Place.Name (@Model.Otter.Place.Location.Name)</dd>
            @if (Model.Otter.Founder == null)
            {
                <dd>Neznámý</dd>
            }
            else
            {
                <dd>@Model.Otter.Founder</dd>
            }
        </div>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Otter.TattooID" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-page="./Index">Zpět na výpis</a>
    </form>
</div>

<style>.odsaz > * {padding-bottom: 0.5rem;}</style>