@page
@model Database01.Pages.IndexModel

@{
    ViewData["Title"] = "Vydří databáze";
}

<h1>Vydří databáze</h1>
<table class="table">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Barva</th>
            <th>Matka</th>
            <th>Umístění</th>
            <th>Lokace</th>
            <th>Nálezce</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vydra)
        { 
        <tr>
            <td>@item.Name</td>
            <td>@item.Color</td>
            <td>@(item.Mother?.Name ?? "Neznámá")</td>
            <td>@item.PlaceName</td>
            <td>@item.Place.Location.Name</td>
            @if (item.Founder == null)
            {
                <td>Neznámý</td>
            }
            else
            {
                <td>@item.Founder</td>
            }
            <td>
                <a asp-page="./Logged/EditItem" asp-route-id="@item.TattooID">Edit</a> |
                <a asp-page="./Logged/DetailsofItem" asp-route-id="@item.TattooID">Details</a> |
                <a asp-page="./Logged/DeleteItem" asp-route-id="@item.TattooID">Odebrat</a>
            </td>
        </tr>
        }
    </tbody>
</table>