@page
@model Database01.Pages.LocationIndexModel

@{
    ViewData["Title"] = "Databáze lokací";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Označení</th>
            <th class="text-center font-weight-normal"><a asp-page="./Locations/CreateLocation">Přidat lokaci</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.location)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Area</td>
                <td class="text-center">
                    <a asp-page="./Locations/EditLocation" asp-route-id="@item.LocationID">Upravit</a> |
                    <a asp-page="./Locations/DetailsofLocation" asp-route-id="@item.LocationID">Podrobnosti</a> |
                    <a asp-page="./Locations/DeleteLocation" asp-route-id="@item.LocationID">Odebrat</a>
                </td>
            </tr>
        }
    </tbody>
</table>