@page
@model Database01.Pages.PlacesIndexModel

@{
    ViewData["Title"] = "Databáze míst";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Lokace</th>
            <th class="text-center font-weight-normal"><a asp-page="./CreatePlace">Přidat nové místo</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.places)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Location.Name</td>
                <td class="text-center">
                    <a asp-page="./EditPlace" asp-route-id="@item.Name" asp-route-idLoc="@item.LocationId">Upravit</a> |
                    <a asp-page="./DetailsofPlace" asp-route-id="@item.Name" asp-route-idLoc="@item.LocationId">Podrobnosti</a> |
                    <a asp-page="./DeletePlace" asp-route-id="@item.Name" asp-route-idLoc="@item.LocationId">Odebrat</a>
                </td>
            </tr>
        }
    </tbody>
</table>